* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #918f8f79;
}

#corposite {
    width: 980px;
    /* centralizando a div (nesse caso abaixo o site) para qualquer resolução de tela */
    margin-left: auto;
    margin-right: auto;
    background-color: #EBEBEB;
    box-shadow: 0px 0px 50px black;
    padding-bottom: 60px;
    position: relative;
}

header {
    background-color: #21272B;
    color: white;
}

.logo {
    margin: 0;
    padding-right: 0px;
    /* background-color: yellowgreen; */
    padding-top: 0px;
    display: inline-block;
}

.barco {

    margin: 0px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 5px;
    /* background-color: slateblue; */
}

.txtop {
    /* background-color: turquoise; */
    padding-bottom: 0px;
    font-size: 14px;
    display: inline-block;
    font-style: italic;
}

h1 {
    color: #1BB4E8;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-style: italic;
    /* background-color: rgb(87, 105, 209); */
}

h2 {
    display: inline-block;
    font-family: arial, helvetica, sans-serif;
    /* alterando as margens do texto, div ou o que tiver trabalhando */
    margin: 0%;
}

nav {
    /* background-color:red; */
    display: inline-block;
    padding: 0;
    padding-left: 160px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    /* tirando a marcação do menu */
    list-style: none;
}

nav ul li {
    /* colocando o menu em "linha" */
    display: inline-block;
    /* colocando um afastamento entre os menu */
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* contraolando o tamanho do texto */
    font-size: 12px;
}

.menu,
.barra {
    color: #ffffff;
    text-decoration: none;
}

.menu:hover {
    color: #1BB4E8;
}

/* --------------------------------------------------------------------------  */
#barcoprincipal {
    position: relative;
}

.fundopreto {
    background-color: rgba(26, 50, 67, 0.9);
    color: white;
    position: absolute;
    top: 200px;
    left: 500px;
    /* definindo a largura do conteiner */
    width: 350px;
    /* definindo a altura do conteiner */
    height: 140px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.contato {
    position: absolute;
    /* background-color: burlywood; */
}

#barquinho {
    margin-top: 30px;
    padding-right: 10px;
    /* background-color: aqua; */
}

.fone {
    display: inline-block;
}

.telefone {
    color: #C6B07F;
    /* background-color: brown; */
    display: inline-block;
}

/* ------------------------------------------------------------------------ */
#destino {
    width: 455px;
    display: inline-block;
    margin-bottom: 0;
    /* background-color: rosybrown; */
    padding: 15px;
}

#informacoes {
    /* background-color: springgreen; */
    margin: 0;
    padding: 0;
}

#destino h3 {
    display: inline-block;
    margin-top: -32px;
    /* alinha verticalmente no top no middle ou no bottom */
    vertical-align: middle;
    padding-left: 3px;
}

#destino p,
#destino h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#destino div {
    background-color: royalblue;
    color: white;
}

/* ----------------------------------------------------------------------------- */
#nossafrota {
    /* height: 450px; */
    width: 450px;
    display: inline-block;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 10px;
}

#nossafrota h3 {
    display: inline-block;
    margin-top: -27px;
    /* alinha verticalmente no top no middle ou no bottom */
    vertical-align: middle;
    padding-left: 3px;
}

#nossafrota p {
    padding-top: 10px;
    padding-bottom: 15px;
}

#nossafrota h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#nossafrota div {
    background-color: rgb(182, 172, 127);
    color: white;
}

.b1 {
    margin-bottom: 11px;
}

.b2 {
    margin-left: 11px;
    margin-bottom: 11px;
}

.b4 {
    margin-left: 11px;
}

/* --------------------------------------------------------------------------------- */
#footer {
    background-color: rgba(26, 50, 67, 0.15);
    margin: 0;
    padding: 15px;
    position: absolute;
    width: 100%;
}

#form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
    margin-left: 30px;


}

#form input,
textarea {
    border: solid 1px rgb(196, 196, 196);
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;


}

#form input{

    height: 30px;
}

#form input::placeholder, textarea::placeholder{

    font-family: Arial, Helvetica, sans-serif;
}



#botao {
    
    border: none;
    border-radius: 5px;
    background-color: #21272B;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    height: 30px;
}

#botao:hover {
    background-color: #434547;
}

#letras {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
}

#display-tabela {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo-tabela {

    justify-content: center;
    margin: 30px;
}

th {
    background-color: #21272B;
    color: white;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th,
td {
    padding: 6px;
    text-align: start;
    width: 200px;
}

th {
    font-weight: bold;
}


tr:nth-child(even) {
    background-color: #aaabab;
}

tr:hover:nth-child(1n + 2) {
    background-color: #596266;
    color: #fff;
}